html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2C3639;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 1em 1em;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn:focus {
  outline: 1px solid rgba(255, 255, 255, 0.6);
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  top: 14px;
  width: 100%;
  height: 3px;
  background-color: #DCD7C9;
  transition: top 0.8s, transform 0.8s;
}
.burger-btn__bars::before {
  content: "";
  top: -14px;
}
.burger-btn__bars::after {
  content: "";
  top: 14px;
}

.burger-btn-animation .burger-btn__bars {
  transform: rotate(-45deg);
}
.burger-btn-animation .burger-btn__bars::after {
  content: "";
  top: 0px;
  transform: rotate(-90deg);
}
.burger-btn-animation .burger-btn__bars::before {
  content: "";
  top: 0px;
  transform: rotate(-90deg);
}

.nav {
  position: fixed;
  top: 0;
  right: -110%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgb(44, 54, 57), rgb(0, 0, 0));
  z-index: 10;
  transition: right 1s;
}
.nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.nav__item {
  position: relative;
  padding: 1em 0;
  color: #DCD7C9;
}
.nav__item::before {
  display: none;
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #DCD7C9;
  left: 0;
  bottom: 0.5em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
  transition-delay: 0.15s;
}
.nav__item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-active {
  right: 0;
}

.header {
  height: 100vh;
  background-image: linear-gradient(135deg, rgba(63, 78, 79, 0.75), rgba(0, 0, 0, 0.75)), url(../img/hero/hero_small.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__heading-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40%;
  align-items: center;
  height: 100%;
}
.header__heading-container {
  text-align: center;
}
.header__heading {
  color: #DCD7C9;
}
.header__text {
  color: #DCD7C9;
}
.header__btn {
  display: block;
  color: #DCD7C9;
  font-size: 4rem;
}
.header__logo {
  display: none;
}

.about-us__box {
  color: #2C3639;
}
.about-us__box-text {
  text-align: justify;
}
.about-us__text {
  margin-bottom: 2em;
}
.about-us__text:last-child {
  margin-bottom: 0;
}
.about-us__img {
  display: none;
}

.models {
  overflow: hidden;
  background-color: #2C3639;
}

.contact__box {
  display: flex;
  flex-direction: column;
  color: #DCD7C9;
}
.contact__social {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1em;
  color: #DCD7C9;
  order: 1;
}
.contact__social-item {
  display: block;
  margin-bottom: 1em;
  text-decoration: none;
  color: #DCD7C9;
}
.contact i, .contact p {
  vertical-align: middle;
}
.contact__form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__form {
  -moz-text-align-last: center;
       text-align-last: center;
}
.contact__form-input {
  width: 100%;
  height: 2em;
  margin: 0.5em 0 0.5em;
  background-color: transparent;
  border: 1px solid #DCD7C9;
  color: #DCD7C9;
}
.contact__form-textarea {
  width: 100%;
  margin: 0.5em 0 1em;
  background-color: transparent;
  border: 1px solid #DCD7C9;
  color: #DCD7C9;
  resize: vertical;
}
.contact__form-btn {
  position: relative;
  width: 250px;
  margin-bottom: 1em;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  padding: 1em 0;
  color: #DCD7C9;
  cursor: pointer;
}
.contact__form-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  border-left: 1px solid #DCD7C9;
  border-top: 1px solid #DCD7C9;
  transform-origin: top left;
  transition: transform 0.5s;
}
.contact__form-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  border-right: 1px solid #DCD7C9;
  border-bottom: 1px solid #DCD7C9;
  transform-origin: bottom right;
  transition: transform 0.5s;
}
.contact__form-btn:hover::before {
  transform: scale(1);
}
.contact__form-btn:hover::after {
  transform: scale(1);
}

.footer {
  text-align: center;
}
.footer .title-line {
  width: 100%;
}
.footer__text {
  margin: 2em;
}

.section-title {
  font-size: 2.4rem;
  color: #2C3639;
}

.section-title-light {
  color: #DCD7C9;
}

.title-line {
  height: 1px;
  width: 100%;
  background-color: #2C3639;
  margin: 1.5em 0;
}

.title-line-light {
  background-color: #DCD7C9;
}

.section-light {
  background-color: #DCD7C9;
}

.button-animation::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #DCD7C9;
  left: 0;
  bottom: 0.5em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
  transition-delay: 0.15s;
}
.button-animation:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.models__card__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 6em;
  transition: margin 0.5s;
}
.models__card__box-active-small {
  margin-bottom: 600px;
}
.models__card {
  position: relative;
  width: 100%;
}
.models__card-img {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.models__card-img-img {
  width: 100%;
  max-height: 600px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.models__card-img-heading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.models__card-img-title {
  color: #DCD7C9;
}
.models__card-img-btn {
  display: none;
  position: relative;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  padding: 1em 0;
  color: #DCD7C9;
  cursor: pointer;
}
.models__card-img-btn-hide {
  display: none;
  position: absolute;
  top: 3em;
  left: -30%;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  padding: 1em 0;
  color: #DCD7C9;
  cursor: pointer;
  z-index: 10;
  transition: left 0.5s;
}
.models__card-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 600px;
  color: #2C3639;
  background-color: #DCD7C9;
  z-index: 0;
  transition: top 0.5s, height 0.5s;
}
.models__card-info::after {
  content: "";
  position: absolute;
  bottom: -55px;
  height: 56px;
  width: 100%;
  background-color: #DCD7C9;
}
.models__card-info-active-small {
  top: 98%;
  height: 450px;
}
.models__card-info-btn-box {
  position: absolute;
  right: 0;
  bottom: -55px;
  height: 55px;
  width: 100%;
}
.models__card-info-btn {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  padding: 0.3em 2em;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 4.8rem;
  cursor: pointer;
  z-index: 10;
}
.models__card-info-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  border-left: 1px solid #2C3639;
  border-top: 1px solid #2C3639;
  transform-origin: top left;
  transition: transform 0.5s;
}
.models__card-info-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1);
  border-right: 1px solid #2C3639;
  border-bottom: 1px solid #2C3639;
  transform-origin: bottom right;
  transition: transform 0.5s;
}
.models__card-info-btn:hover::before {
  transform: scale(1);
}
.models__card-info-btn:hover::after {
  transform: scale(1);
}
.models__card-info-btn-chevron {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.models__card-info-btn-chevron-active {
  transform: rotate(270deg);
}
.models__card-info-box {
  position: relative;
  width: 100%;
  height: 100%;
  transition: right 0.5s, opacity 0.5s;
  background-color: transparent;
  opacity: 0;
  cursor: default;
}
.models__card-info-box--active {
  opacity: 1;
  cursor: text;
}
.models__card-info-title {
  position: absolute;
  right: 2em;
  top: 2em;
}
.models__card-info-list {
  position: absolute;
  bottom: 0;
  padding: 2em;
  list-style: none;
}
.models__card-info-list-item {
  padding-bottom: 1em;
}
.models__card-info-desc {
  position: absolute;
  top: 5em;
  padding: 2em;
}
.models__card-info-list-property {
  font-weight: bold;
}
.models__road .models__card-img-title {
  color: #2C3639;
}
.models__road .models__card-img-btn {
  color: #2C3639;
}
.models__road .models__card-img-btn-hide {
  color: #2C3639;
}
.models__road .button-animation::before {
  background-color: #2C3639;
}

.completed-projects__card {
  width: 100%;
  margin: 0.5em;
  position: relative;
  transition: transform 0.3s, margin 0.3s;
}
.completed-projects__card-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.completed-projects__card-title {
  position: absolute;
  bottom: 0.5em;
  left: 1em;
}

.slick-current {
  z-index: 5;
}

/* ----------------------------------------------
* Generated by Animista on 2024-1-28 13:8:4
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
* ----------------------------------------
* animation bounce-top
* ----------------------------------------
*/
.bounce-top {
  animation: bounce-top 2.5s 0.5s infinite both;
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  20% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  33% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  12%, 27%, 37%, 44% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  100% {
    transform: translateY(-45px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.models__card-info-animation {
  animation: modelCardInfoAnimation 1s forwards;
}

@keyframes modelCardInfoAnimation {
  0% {
    transform: translateX(0);
    z-index: 0;
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}
.models__card-info-animation-reverse {
  animation: modelCardInfoAnimationReverse 1s forwards;
}

@keyframes modelCardInfoAnimationReverse {
  0% {
    transform: translateX(0);
    z-index: 1;
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
    z-index: 0;
  }
}
.models__card-img-animation {
  animation: modelCardImgAnimation 1s forwards;
}

@keyframes modelCardImgAnimation {
  0% {
    transform: translateX(0);
    z-index: 1;
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
    z-index: 0;
  }
}
.models__card-img-animation-reverse {
  animation: modelCardImgAnimationReverse 1s forwards;
}

@keyframes modelCardImgAnimationReverse {
  0% {
    transform: translateX(0);
    z-index: 0;
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}
.placeholder {
  font-family: "Montserrat", sans-serif;
  font-family: "Rokkitt", serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.nav__item {
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header__heading {
  font-family: "Rokkitt", serif;
  font-size: 5.8rem;
  text-transform: uppercase;
}
.header__text {
  font-size: 2rem;
}

.models__card-img-btn {
  text-transform: uppercase;
}
.models__card-img-btn-hide {
  text-transform: uppercase;
}
.models__card-img-title {
  font-size: 1.4rem;
}
.models__card-img-btn {
  font-size: 1rem;
}
.models__card-info-btn {
  font-size: 2.4rem;
}
.models__card-info-desc {
  font-size: 1.2rem;
}
.models__card-info-list {
  font-size: 1.2rem;
}
.models__card-info-title {
  font-size: 1.4rem;
}

.contact__form-label {
  text-transform: uppercase;
}
.contact__form-input {
  font-size: 1.6rem;
}
.contact__form-textarea {
  font-size: 1.6rem;
}
.contact__form-btn {
  text-transform: uppercase;
  font-size: 1.6rem;
}
.contact__social-item {
  font-size: 1.6rem;
}
.contact i {
  font-size: 1.8rem;
}

@media (min-width: 576px) {
  .nav__item {
    font-size: 2.8rem;
  }
  .header__heading {
    font-size: 6.4rem;
  }
  .header__text {
    font-size: 2.4rem;
  }
  .models__card-img-title {
    font-size: 1.6rem;
  }
  .models__card-img-btn {
    font-size: 1.2rem;
  }
  .models__card-img-btn-hide {
    font-size: 1.2rem;
  }
  .models__card-info-btn {
    font-size: 3.6rem;
  }
  .models__card-info-desc {
    font-size: 1.4rem;
  }
  .models__card-info-list {
    font-size: 1.4rem;
  }
  .models__card-info-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 7.2rem;
    letter-spacing: 0.02em;
  }
  .header__text {
    font-size: 3.2rem;
  }
  .models__card-img-title {
    font-size: 2rem;
  }
  .models__card-img-btn {
    font-size: 1.4rem;
  }
  .models__card-img-btn-hide {
    font-size: 1.4rem;
  }
  .models__card-info-btn {
    font-size: 4.8rem;
  }
  .models__card-info-desc {
    font-size: 1.6rem;
  }
  .models__card-info-list {
    font-size: 1.6rem;
  }
  .models__card-info-title {
    font-size: 2rem;
  }
  .contact__form-label {
    font-size: 1.8rem;
  }
  .contact__form-input {
    font-size: 1.8rem;
  }
  .contact__form-textarea {
    font-size: 1.8rem;
  }
  .contact__form-btn {
    font-size: 1.8rem;
  }
  .contact__social-item {
    font-size: 1.8rem;
  }
  .contact i {
    font-size: 2rem;
  }
}
.footer__text {
  font-size: 2rem;
  text-transform: uppercase;
  color: #DCD7C9;
}

@media (min-width: 576px) {
  .models__card-info-btn-box {
    bottom: -66px;
    height: 66px;
  }
  .models__card-info-btn {
    padding: 0.2em 2em;
  }
  .models__card-info::after {
    bottom: -64px;
    height: 65px;
  }
  .contact__social {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  .section-padding {
    padding: 2em 2em;
  }
  .models__card__box {
    margin-bottom: 8em;
  }
  .models__card__box-active-small {
    margin-bottom: 650px;
  }
  .models__card-info-btn-box {
    bottom: -100px;
    height: 100px;
  }
  .models__card-info-btn {
    padding: 0.2em 2em;
  }
  .models__card-info::after {
    bottom: -99px;
    height: 100px;
  }
  .contact__social {
    justify-content: space-around;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 61px;
  }
  .section-padding {
    padding: 4em 2em;
  }
  .burger-btn {
    display: none;
  }
  .nav {
    display: block;
    align-self: flex-start;
    right: 0;
    height: auto;
    z-index: 10;
  }
  .nav__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    margin: 0 auto;
    max-width: 1200px;
  }
  .nav__item {
    padding: 0.5em 0;
  }
  .nav__item::before {
    display: block;
  }
  .header {
    background-image: linear-gradient(135deg, rgba(63, 78, 79, 0.75), rgba(0, 0, 0, 0.75)), url(../img/hero/hero_big.jpg);
  }
  .header__heading-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
  }
  .header__heading-container {
    text-align: right;
    order: 1;
  }
  .header__logo {
    display: inline;
  }
  .header__logo, .header__heading {
    vertical-align: middle;
  }
  .about-us__box {
    display: flex;
    justify-content: space-between;
  }
  .about-us__box-img {
    width: 40%;
  }
  .about-us__box-text {
    position: relative;
    width: 55%;
  }
  .about-us__text {
    position: absolute;
    margin-bottom: 0;
  }
  .about-us__text--middle {
    top: 50%;
  }
  .about-us__text--bottom {
    bottom: 0;
  }
  .about-us__img {
    display: block;
    width: 100%;
  }
  .models__card__box {
    margin-top: 4em;
    margin-bottom: 8em;
  }
  .models__card__box:last-child {
    margin-bottom: 0;
  }
  .models__card-img {
    width: 90%;
  }
  .models__card-img-img {
    max-height: 650px;
  }
  .models__card-img-heading {
    padding: 2em;
    transition: left 0.5s;
  }
  .models__card-img-heading--active {
    left: -50%;
  }
  .models__card-img-btn {
    display: inline-block;
  }
  .models__card-img-btn-hide {
    display: inline-block;
  }
  .models__card-img-btn-hide--active {
    left: 2em;
  }
  .models__card-info {
    width: 50%;
    max-height: 650px;
    color: #2C3639;
  }
  .models__card-info::before {
    content: "";
    position: absolute;
    top: -20px;
    height: 22px;
    width: 100%;
    background-color: #DCD7C9;
  }
  .models__card-info::after {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 22px;
  }
  .models__card-info-btn-box {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
  }
  .models__card-info-btn {
    right: 50%;
    top: 50%;
    height: 18%;
    transform: translate(50%, -50%);
    padding: 0.2em 0.2em;
  }
  .models__card-info-btn-chevron {
    transform: rotate(0);
  }
  .models__card-info-btn-chevron-active {
    transform: rotate(180deg);
  }
  .models__card-info-box {
    position: relative;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.5s, opacity 0.5s;
    background-color: transparent;
    opacity: 0;
    cursor: default;
  }
  .models__card-info-box--active {
    right: 0;
    opacity: 1;
    cursor: text;
  }
  .completed-projects__card {
    margin: 0 0.8em;
  }
}
@media (min-width: 1200px) {
  .title-line {
    width: 80%;
  }
  .models__card-info-btn::before {
    transform: scale(0);
  }
  .models__card-info-btn::after {
    transform: scale(0);
  }
  .contact__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    color: #DCD7C9;
  }
  .contact__social {
    order: 0;
  }
  .contact__social-box-left {
    margin-right: 1em;
  }
  .contact__form-box {
    width: 50%;
  }
  .contact__form-btn::before {
    transform: scale(0);
  }
  .contact__form-btn::after {
    transform: scale(0);
  }
}/*# sourceMappingURL=style.css.map */