html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2C3639;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-padding {
  padding: 1em 1em;
}

.burger-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 1em;
  background: none;
  border: 1px solid transparent;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  z-index: 1000;
}
.burger-btn__box {
  position: relative;
  width: 40px;
  height: 30px;
}
.burger-btn__bars, .burger-btn__bars::after, .burger-btn__bars::before {
  position: absolute;
  right: 0;
  top: 14px;
  width: 100%;
  height: 3px;
  background-color: #DCD7C9;
  transition: top 0.8s, transform 0.8s;
}
.burger-btn__bars::before {
  content: "";
  top: -14px;
}
.burger-btn__bars::after {
  content: "";
  top: 14px;
}

.burger-btn-animation .burger-btn__bars {
  transform: rotate(-45deg);
}
.burger-btn-animation .burger-btn__bars::after {
  content: "";
  top: 0px;
  transform: rotate(-90deg);
}
.burger-btn-animation .burger-btn__bars::before {
  content: "";
  top: 0px;
  transform: rotate(-90deg);
}

.nav {
  position: fixed;
  right: -110%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, rgb(44, 54, 57), rgb(0, 0, 0));
  z-index: 10;
  transition: right 1s;
}
.nav__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2em;
  width: 100%;
  height: 100%;
}
.nav__item {
  position: relative;
  padding: 1em 0;
  color: #DCD7C9;
}
.nav__item::before {
  display: none;
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #DCD7C9;
  left: 0;
  bottom: 0.5em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
  transition-delay: 0.15s;
}
.nav__item:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.nav-active {
  right: 0;
}

.header {
  height: 100vh;
  background-image: linear-gradient(135deg, rgba(63, 78, 79, 0.75), rgba(0, 0, 0, 0.75)), url(../img/hero/hero_small.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header__heading-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 40%;
  align-items: center;
  height: 100%;
}
.header__heading-container {
  text-align: center;
}
.header__heading {
  color: #DCD7C9;
}
.header__text {
  color: #DCD7C9;
}
.header__btn {
  display: block;
  color: #DCD7C9;
  font-size: 4rem;
}
.header__logo {
  display: none;
}

.about-us {
  background-color: #DCD7C9;
}
.about-us__box {
  color: #2C3639;
}
.about-us__box-text {
  text-align: justify;
}
.about-us__text {
  margin-bottom: 2em;
}
.about-us__text:last-child {
  margin-bottom: 0;
}
.about-us__img {
  display: none;
}

.models {
  overflow: hidden;
  background-color: #2C3639;
}

.section-title {
  font-size: 2.4rem;
  color: #2C3639;
}

.section-title-light {
  color: #DCD7C9;
}

.title-line {
  height: 1px;
  width: 80%;
  background-color: #2C3639;
  margin: 1.5em 0;
}

.title-line-light {
  background-color: #DCD7C9;
}

.button-animation::before {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background-color: #DCD7C9;
  left: 0;
  bottom: 0.5em;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s;
  transition-delay: 0.15s;
}
.button-animation:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.models__card__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 6em;
  transition: margin 0.5s;
}
.models__card__box-active-small {
  margin-bottom: 600px;
}
.models__card {
  position: relative;
  width: 90%;
}
.models__card-img {
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
.models__card-img-img {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.models__card-img-heading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.models__card-img-heading--active {
  left: -50%;
}
.models__card-img-title {
  color: #DCD7C9;
}
.models__card-img-btn {
  display: none;
  position: relative;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  padding: 1em 0;
  color: #DCD7C9;
  cursor: pointer;
}
.models__card-img-btn-hide {
  display: none;
  position: absolute;
  top: 3em;
  left: -30%;
  border: 2px solid transparent;
  border-radius: 8px;
  background-color: transparent;
  padding: 1em 0;
  color: #DCD7C9;
  cursor: pointer;
  z-index: 10;
  transition: left 0.5s;
}
.models__card-img-btn-hide--active {
  left: 2em;
}
.models__card-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  max-height: 600px;
  color: #2C3639;
  background-color: #DCD7C9;
  z-index: 0;
  transition: top 0.5s, height 0.5s;
}
.models__card-info::after {
  content: "";
  position: absolute;
  bottom: -55px;
  height: 56px;
  width: 100%;
  background-color: #DCD7C9;
}
.models__card-info-active-small {
  top: 98%;
  height: 500px;
}
.models__card-info-btn {
  position: absolute;
  right: 50%;
  bottom: -50px;
  transform: translateX(50%);
  padding: 10px 50px;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 4.8rem;
  cursor: pointer;
  z-index: 10;
}
.models__card-info-btn::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-left: 1px solid #2C3639;
  border-top: 1px solid #2C3639;
  transform-origin: top left;
  transition: transform 0.5s;
}
.models__card-info-btn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  border-right: 1px solid #2C3639;
  border-bottom: 1px solid #2C3639;
  transform-origin: bottom right;
  transition: transform 0.5s;
}
.models__card-info-btn:hover::before {
  transform: scale(1);
}
.models__card-info-btn:hover::after {
  transform: scale(1);
}
.models__card-info-btn-chevron {
  transform: rotate(90deg);
  transition: transform 0.5s;
}
.models__card-info-btn-chevron-active {
  transform: rotate(270deg);
}
.models__card-info-box {
  position: relative;
  width: 100%;
  height: 100%;
  transition: right 0.5s, opacity 0.5s;
  background-color: transparent;
  opacity: 0;
  cursor: default;
}
.models__card-info-box--active {
  opacity: 1;
  cursor: text;
}
.models__card-info-title {
  position: absolute;
  right: 2em;
  top: 2em;
}
.models__card-info-list {
  position: absolute;
  bottom: 0;
  padding: 2em;
  list-style: none;
}
.models__card-info-list-item {
  padding-bottom: 1em;
}
.models__card-info-desc {
  position: absolute;
  top: 5em;
  padding: 2em;
}
.models__card-info-list-property {
  font-weight: bold;
}
.models__road .models__card-img-title {
  color: #2C3639;
}
.models__road .models__card-img-btn {
  color: #2C3639;
}
.models__road .models__card-img-btn-hide {
  color: #2C3639;
}
.models__road .button-animation::before {
  background-color: #2C3639;
}

/* ----------------------------------------------
* Generated by Animista on 2024-1-28 13:8:4
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
* ----------------------------------------
* animation bounce-top
* ----------------------------------------
*/
.bounce-top {
  animation: bounce-top 1.5s 0.5s infinite both;
}
@keyframes bounce-top {
  0% {
    transform: translateY(-45px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    transform: translateY(-24px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-12px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-4px);
    animation-timing-function: ease-in;
  }
  25%, 55%, 75%, 87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
.models__card-info-animation {
  animation: modelCardInfoAnimation 1s forwards;
}

@keyframes modelCardInfoAnimation {
  0% {
    transform: translateX(0);
    z-index: 0;
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}
.models__card-info-animation-reverse {
  animation: modelCardInfoAnimationReverse 1s forwards;
}

@keyframes modelCardInfoAnimationReverse {
  0% {
    transform: translateX(0);
    z-index: 1;
  }
  50% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(0);
    z-index: 0;
  }
}
.models__card-img-animation {
  animation: modelCardImgAnimation 1s forwards;
}

@keyframes modelCardImgAnimation {
  0% {
    transform: translateX(0);
    z-index: 1;
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
    z-index: 0;
  }
}
.models__card-img-animation-reverse {
  animation: modelCardImgAnimationReverse 1s forwards;
}

@keyframes modelCardImgAnimationReverse {
  0% {
    transform: translateX(0);
    z-index: 0;
  }
  50% {
    transform: translateX(-30%);
  }
  100% {
    transform: translateX(0);
    z-index: 1;
  }
}
.placeholder {
  font-family: "Montserrat", sans-serif;
  font-family: "Rokkitt", serif;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.nav__item {
  font-size: 2.4rem;
  text-decoration: none;
  text-transform: uppercase;
}

.header__heading {
  font-family: "Rokkitt", serif;
  font-size: 5.8rem;
  text-transform: uppercase;
}
.header__text {
  font-size: 2rem;
}

.models__card-img-btn {
  text-transform: uppercase;
}
.models__card-img-btn-hide {
  text-transform: uppercase;
}
.models__card-img-title {
  font-size: 1.4rem;
}
.models__card-img-btn {
  font-size: 1rem;
}
.models__card-info-btn {
  font-size: 2.4rem;
}
.models__card-info-desc {
  font-size: 1.2rem;
}
.models__card-info-list {
  font-size: 1.2rem;
}

@media (min-width: 576px) {
  .nav__item {
    font-size: 2.8rem;
  }
  .header__heading {
    font-size: 6.4rem;
  }
  .header__text {
    font-size: 2.4rem;
  }
  .models__card-img-title {
    font-size: 1.6rem;
  }
  .models__card-img-btn {
    font-size: 1.2rem;
  }
  .models__card-img-btn-hide {
    font-size: 1.2rem;
  }
  .models__card-info-btn {
    font-size: 4.8rem;
  }
  .models__card-info-desc {
    font-size: 1.4rem;
  }
  .models__card-info-list {
    font-size: 1.4rem;
  }
}
@media (min-width: 768px) {
  .header__heading {
    font-size: 7.2rem;
    letter-spacing: 0.02em;
  }
  .header__text {
    font-size: 3.2rem;
  }
  .models__card-img-title {
    font-size: 2rem;
  }
  .models__card-img-btn {
    font-size: 1.4rem;
  }
  .models__card-img-btn-hide {
    font-size: 1.4rem;
  }
  .models__card-info-desc {
    font-size: 1.6rem;
  }
  .models__card-info-list {
    font-size: 1.6rem;
  }
}
@media (min-width: 768px) {
  .section-padding {
    padding: 2em 2em;
  }
}
@media (min-width: 992px) {
  html {
    scroll-padding-top: 62px;
  }
  .section-padding {
    padding: 4em 2em;
  }
  .burger-btn {
    display: none;
  }
  .nav {
    display: block;
    align-self: flex-start;
    right: 0;
    height: auto;
    z-index: 10;
  }
  .nav__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
    margin: 0 auto;
    max-width: 1200px;
  }
  .nav__item {
    padding: 0.5em 0;
  }
  .nav__item::before {
    display: block;
  }
  .header {
    background-image: linear-gradient(135deg, rgba(63, 78, 79, 0.75), rgba(0, 0, 0, 0.75)), url(../img/hero/hero_big.jpg);
  }
  .header__heading-box {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
  }
  .header__heading-container {
    text-align: right;
    order: 1;
  }
  .header__logo {
    display: inline;
  }
  .header__logo, .header__heading {
    vertical-align: middle;
  }
  .about-us__box {
    display: flex;
    justify-content: space-between;
  }
  .about-us__box-img {
    width: 40%;
  }
  .about-us__box-text {
    position: relative;
    width: 55%;
  }
  .about-us__text {
    position: absolute;
    margin-bottom: 0;
  }
  .about-us__text--middle {
    top: 50%;
  }
  .about-us__text--bottom {
    bottom: 0;
  }
  .about-us__img {
    display: block;
    width: 100%;
  }
  .models__card__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4em;
    margin-bottom: 8em;
  }
  .models__card {
    position: relative;
    width: 90%;
  }
  .models__card-img {
    position: relative;
    width: 90%;
    z-index: 1;
    overflow: hidden;
  }
  .models__card-img-img {
    width: 100%;
    max-height: 600px;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .models__card-img-heading {
    position: absolute;
    left: 0;
    top: 0;
    padding: 2em;
    transition: left 0.5s;
  }
  .models__card-img-heading--active {
    left: -50%;
  }
  .models__card-img-title {
    color: #DCD7C9;
  }
  .models__card-img-btn {
    display: inline-block;
  }
  .models__card-img-btn-hide {
    display: inline-block;
  }
  .models__card-img-btn-hide--active {
    left: 2em;
  }
  .models__card-info {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    max-height: 600px;
    color: #2C3639;
    background-color: #DCD7C9;
    z-index: 0;
  }
  .models__card-info::before {
    content: "";
    position: absolute;
    top: -20px;
    height: 22px;
    width: 100%;
    background-color: #DCD7C9;
  }
  .models__card-info::after {
    content: "";
    position: absolute;
    bottom: -20px;
    height: 22px;
    width: 100%;
    background-color: #DCD7C9;
  }
  .models__card-info-btn {
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px 10px;
  }
  .models__card-info-btn-chevron {
    transform: rotate(0);
  }
  .models__card-info-btn-chevron-active {
    transform: rotate(180deg);
  }
  .models__card-info-box {
    position: relative;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.5s, opacity 0.5s;
    background-color: transparent;
    opacity: 0;
    cursor: default;
  }
  .models__card-info-box--active {
    right: 0;
    opacity: 1;
    cursor: text;
  }
  .models__card-info-title {
    position: absolute;
    right: 2em;
    top: 2em;
  }
  .models__card-info-list {
    position: absolute;
    bottom: 0;
    padding: 2em;
    list-style: none;
  }
  .models__card-info-list-item {
    padding-bottom: 1em;
  }
  .models__card-info-desc {
    position: absolute;
    top: 5em;
    padding: 2em;
  }
  .models__card-info-list-property {
    font-weight: bold;
  }
  .models__road .models__card-img-title {
    color: #2C3639;
  }
  .models__road .models__card-img-btn {
    color: #2C3639;
  }
  .models__road .models__card-img-btn-hide {
    color: #2C3639;
  }
  .models__road .button-animation::before {
    background-color: #2C3639;
  }
}/*# sourceMappingURL=style.css.map */