.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars, 
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        width: 100%;
        height: 3px;
        background-color: $light-color;
    }

    &__bars {
        &::after {
            content: '';
            top: 14px;
        }
        &::before {
            content: '';
            top: 28px;
        }
    }
}

.btn-special-animation {
    position: fixed;
    top: 100px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    cursor: pointer;
    z-index: 1000;

    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }

    &__bars, 
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        top: 14px;
        width: 100%;
        height: 3px;
        background-color: $light-color;
        transition: top .5s, transform .5s;
    }

    &__bars {
        &::before {
            content: '';
            top: -14px;
        }
        &::after {
            content: '';
            top: 14px;
        }
    }
    &:hover &__bars {
            transform: rotate(-45deg);
        &::after {
            content: '';
            top: 0px;
            transform: rotate(-90deg);
        }
        &::before {
            content: '';
            top: 0px;
            transform: rotate(-90deg);
        }
    }
}

.nav {
    display: none;
    position: fixed;
    align-self: flex-start;
    width: 100%;
    background-color: $black-80;
    z-index: 10;

    &__items {
        display: flex;
        justify-content: end;
        margin: 0 auto;
        padding: 0 2em;
        width: 100%;
        max-width: 1200px;
    }
    &__item {
        padding: .5em;
        color: $light-color;

        &:last-child {
            padding-right: 0;
        }
    }
}

.header {
    height: 100vh;
    background-image: $dark-gradient, url(../img/hero/hero_small.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &__heading-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40%;
        align-items: center;
        height: 100%;
    }
    &__heading-container {
        text-align: center;
    }
    &__heading {
        color: $light-color;
    }
    &__text {
        color: $light-color;
    }
    &__btn {
        display: block;
        color: $light-color;
        font-size: 4rem;
    }
    &__logo {
        display: none;
    }

    
} 