$main-color: #2C3639;
$secondary-color: #3F4E4F;
$light-color: #DCD7C9;
$brown-color: #A27B5C;
$pure-black: #000;
$pure-white: #fff;
$black-80: rgba(0,0,0,.8);

$dark-gradient: linear-gradient(135deg, rgba(63, 78, 79, 0.75), rgba(0, 0, 0, 0.75));
$dark-gradient-solid: linear-gradient(135deg, rgba(44, 54, 57, 1), rgba(0, 0, 0, 1));
