@use 'colors' as *;

.section-title {
      font-size: 2.4rem;
      color: $main-color;  
}

.section-title-light {
        color: $light-color;
}

.title-line {
        height: 1px;
        width: 80%;
        background-color: $main-color;
        margin: 1.5em 0;
}

.title-line-light {
        background-color: $light-color;
}