@use 'colors' as *;

.section-title {
      font-size: 2.4rem;
      color: $main-color;  
}

.section-title-light {
        color: $light-color;
}

.title-line {
        height: 1px;
        width: 80%;
        background-color: $main-color;
        margin: 1.5em 0;
}

.title-line-light {
        background-color: $light-color;
}

.button-animation {
        &::before {
                position: absolute;
                content: '';
                height: 1px;
                width: 100%;
                background-color: $light-color;
                left: 0;
                bottom: .5em;
                transform-origin: right;
                transform: scaleX(0);
                transition: transform .3s;
                transition-delay: .15s;
            }

            &:hover {
                &::before {
                        transform-origin: left;
                        transform: scaleX(1);
                        }
            }
}


  
