@use 'colors' as *;

body {
    background-color: $main-color;
    height: 200vh;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.section-padding {
    padding: 6em 2em;
}

// HEADER

.nav {
    position: fixed;
    align-self: flex-start;
    width: 100%;
    background-color: $black-80;
    z-index: 10;

    &__items {
        display: flex;
        justify-content: end;
        margin: 0 auto;
        padding: 0 2em;
        width: 100%;
        max-width: 1200px;
    }
    &__item {
        padding: .5em;
        color: $light-color;

        &:last-child {
            padding-right: 0;
        }
    }
}

.header {
    height: 100vh;
    background-image: $dark-gradient, url(../img/hero/hero_small.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &__heading-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40%;
        align-items: center;
        height: 100%;
    }
    &__heading-container {
        text-align: center;
    }
    &__heading {
        color: $light-color;
    }
    &__text {
        color: $light-color;
    }
    &__btn {
        display: block;
        color: $light-color;
        font-size: 4rem;
    }
} 