@use 'colors' as *;
@use 'mixins' as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $main-color;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.section-padding {
    padding: 1em 1em;
}

// HEADER

.nav {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    height: 100%;
    background-image: $dark-gradient-solid;
    z-index: 10;
    transition: right 1s;
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    &__item {
        position: relative;
        padding: 1em 0;
        color: $light-color;
    }
}

.nav-active {
    right: 0;
}

.header {
    height: 100vh;
    height: 100dvh;
    background-image: $dark-gradient, url(../img/hero/hero_small.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &__heading-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40%;
        align-items: center;
        height: 100%;
    }
    &__heading-container {
        text-align: center;
    }
    &__btn {
        display: block;
        color: $light-color;
        font-size: 4rem;
    }
    &__logo {
        display: none;
    }
} 

// ABOUT-US

.about-us {
    &__box {
        color: $main-color;
    }
    &__box-text {
        text-align: justify;
    }
    &__text {
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__img {
        display: none;
    }
}

// MODELS

.models {
    overflow: hidden;
    background-color: $main-color;
}

// CONTACT

.contact {
    &__box {
        display: flex;
        flex-direction: column;
        color: $light-color;
    }
    &__social {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1em;
        color: $light-color;
        order: 1;
    }
    &__social-item {
        display: block;
        margin-bottom: 1em;
    }
    i, p {
        vertical-align: middle;
    }
    &__form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form {
        text-align-last: center;
    }
    &__form-input {
        width: 100%;
        height: 2em;
        margin: .5em 0 .5em;
        background-color: transparent;
        border: 1px solid $light-color;
        color: $light-color;
    }
    &__form-textarea {
        width: 100%;
        margin: .5em 0 1em;
        background-color: transparent;
        border: 1px solid $light-color;
        color: $light-color;
        resize: vertical;
    }
}

.footer {
    text-align: center;
    .title-line {
        width: 100%;
    }
    &__text {
        margin: 2em
    }
}
    
