@use 'colors' as *;
@use 'mixins' as *;

html {
    scroll-behavior: smooth;
}

body {
    background-color: $main-color;
}

.wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.section-padding {
    padding: 1em 1em;
}

// HEADER

.burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1em;
    background: none;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    z-index: 1000;
    &:focus {
        outline: 1px solid rgba(255, 255, 255, .6);    
    }
    &__box {
        position: relative;
        width: 40px;
        height: 30px;
    }
    &__bars, 
    &__bars::after,
    &__bars::before {
        position: absolute;
        right: 0;
        top: 14px;
        width: 100%;
        height: 3px;
        background-color: $light-color;
        transition: top .8s, transform .8s;
    }
    &__bars {
        &::before {
            content: '';
            top: -14px;
        }
        &::after {
            content: '';
            top: 14px;
        }
    }
}

.burger-btn-animation {
    .burger-btn__bars {
        transform: rotate(-45deg);
        &::after {
            content: '';
            top: 0px;
            transform: rotate(-90deg);
        }
        &::before {
            content: '';
            top: 0px;
            transform: rotate(-90deg);
        }
    }
}

.nav {
    position: fixed;
    top: 0;
    right: -110%;
    width: 100%;
    height: 100%;
    background-image: $dark-gradient-solid;
    z-index: 10;
    transition: right 1s;
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // padding: 0 2em;
        width: 100%;
        height: 100%;
    }
    &__item {
        position: relative;
        padding: 1em 0;
        color: $light-color;

        &::before {
            display: none;
            position: absolute;
            content: '';
            height: 1px;
            width: 100%;
            background-color: $light-color;
            left: 0;
            bottom: .5em;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s;
            transition-delay: .15s;
        }
    }
    &__item:hover {
        &::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}

.nav-active {
    right: 0;
}

.header {
    height: 100vh;
    background-image: $dark-gradient, url(../img/hero/hero_small.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    &__heading-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 40%;
        align-items: center;
        height: 100%;
    }
    &__heading-container {
        text-align: center;
    }
    &__heading {
        color: $light-color;
    }
    &__text {
        color: $light-color;
    }
    &__btn {
        display: block;
        color: $light-color;
        font-size: 4rem;
    }
    &__logo {
        display: none;
    }

    
} 

// ABOUT-US

.about-us {
    &__box {
        color: $main-color;
    }
    &__box-text {
        text-align: justify;
    }
    &__text {
        margin-bottom: 2em;
        &:last-child {
            margin-bottom: 0;
        }
    }
    &__img {
        display: none;
    }
}

// MODELS

.models {
    overflow: hidden;
    background-color: $main-color;
}

// CONTACT

.contact {
    &__box {
        display: flex;
        flex-direction: column;
        color: $light-color;
    }
    &__social {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 1em;
        color: $light-color;
        order: 1;
    }
    &__social-item {
        display: block;
        margin-bottom: 1em;
        text-decoration: none;
        color: $light-color;
    }
    i, p {
        vertical-align: middle;
    }
    &__form-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form {
        text-align-last: center;
    }
    &__form-input {
        width: 100%;
        height: 2em;
        margin: .5em 0 .5em;
        background-color: transparent;
        border: 1px solid $light-color;
        color: $light-color;
    }
    &__form-textarea {
        width: 100%;
        margin: .5em 0 1em;
        background-color: transparent;
        border: 1px solid $light-color;
        color: $light-color;
        resize: vertical;
    }
    &__form-btn {
        position: relative;
        width: 250px;
        margin-bottom: 1em;
        border: 2px solid transparent;
        border-radius: 8px;
        background-color: transparent;
        padding: 1em 0;
        color: $light-color;
        cursor: pointer;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scale(1);
            border-left: 1px solid $light-color;
            border-top: 1px solid $light-color;
            transform-origin: top left;
            transition: transform .5s;
        }
        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            transform: scale(1);
            border-right: 1px solid $light-color;
            border-bottom: 1px solid $light-color;
            transform-origin: bottom right;
            transition: transform .5s;
        }
        &:hover {
            &::before {
                transform: scale(1);
            }
            &::after {
                transform: scale(1);
            }
        }
    }
}

.footer {
    text-align: center;
    .title-line {
        width: 100%;
    }
    &__text {
        margin: 2em
    }
}
    
