@use 'colors' as *;


@media(min-width: 576px) {

    .models {
        &__card-info-btn {
            bottom: -58px;
            padding: .2em 2em;
        }
        &__card-info {
            &::after {
                bottom: -64px;
                height: 65px;
            }
        }
    }
}

@media(min-width: 768px) {
    .section-padding {
        padding: 2em 2em;
    }
    .models {
        &__card__box {
            margin-bottom: 8em;
        }
        &__card__box-active-small {
            margin-bottom: 650px;
        }
        &__card-info-btn {
            bottom: -95px;
            padding: .2em 2em;
        }
        &__card-info {
            &::after {
                bottom: -99px;
                height: 100px;
            }
        }
    }

}

@media(min-width: 992px) {
    html {
        scroll-padding-top: 62px;
    }
    .section-padding {
        padding: 4em 2em;
    }
    .burger-btn {
        display: none;
    }
    .nav {
        display: block;
        align-self: flex-start;
        right: 0;
        height: auto;
        z-index: 10;
    &__items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 1em;
        margin: 0 auto;
        max-width: 1200px;
    }
    &__item {
        padding: 0.5em 0;

        &::before {
            display: block;
            }
        }
    }
    .header {
        background-image: $dark-gradient, url(../img/hero/hero_big.jpg);
        &__heading-box {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            gap: 0;
        }
        &__heading-container {
            text-align: right;
            order: 1;
        }
        &__logo {
            display: inline;
        }
        &__logo, &__heading {
            vertical-align: middle;
        }
    }

    .about-us {
        &__box {
            display: flex;
            justify-content: space-between;
        }
        &__box-img {
            width: 40%;
        }
        &__box-text {
            position: relative;
            width: 55%;
        }
        &__text{
           position: absolute;
           margin-bottom: 0;
        }
        &__text--middle {
            top: 50%;
        }
        &__text--bottom {
            bottom: 0;
        }
        &__img {
            display: block;
            width: 100%;
        }
    }

    .models {
        &__card__box {
            margin-top: 4em;
            margin-bottom: 8em;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__card-img {
            width: 90%;
        }
        &__card-img-img {
            max-height: 650px;
        }
        &__card-img-heading {
            padding: 2em;
            transition: left .5s;
        }
        &__card-img-heading--active {
            left: -50%;
        }
        &__card-img-btn {
            display: inline-block;
        }
        &__card-img-btn-hide {
            display: inline-block;
        }
        &__card-img-btn-hide--active {
            left: 2em;
        }
        &__card-info {
            width: 50%;
            max-height: 650px;
            color: $main-color;
            &::before {
                content: '';
                position: absolute;
                top: -20px;
                height: 22px;
                width: 100%;
                background-color: $light-color;
            }
            &::after {
                content: '';
                position: absolute;
                bottom: -20px;
                height: 22px;
            }
        }
        &__card-info-btn {
            right: 50%;
            top: 50%;
            height: 18%;
            transform: translate(50%, -50%);
            padding: .2em .2em;
        }
        &__card-info-btn-box {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 20%;
    }
        &__card-info-btn-chevron {
            transform: rotate(0);
        }
        
        &__card-info-btn-chevron-active {
            transform: rotate(180deg);
    }
        &__card-info-box {
            position: relative;
            right: -100%;
            width: 100%;
            height: 100%;
            transition: right 0.5s, opacity .5s;
            background-color: transparent;
            opacity: 0;
            cursor: default;
        }
        &__card-info-box--active {
            right: 0;
            opacity: 1;
            cursor: text;
    
        }
    }

    .completed-projects {
        &__card {
            margin: 0 .8em;
        }
    }
}

