.placeholder {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Rokkitt', serif;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.6rem;
}

.nav {
    &__item{
        font-size: 2.4rem;
        text-decoration: none;
        text-transform: uppercase;
    }
}

.header {
    &__heading {
        font-family: 'Rokkitt', serif;
        font-size: 5.8rem;
        text-transform: uppercase;
    }
    &__text {
        font-size: 2rem;
    }
}

.models {
    &__card-img-btn {
        text-transform: uppercase;
    }
    &__card-img-btn-hide {
        text-transform: uppercase;
    }
    &__card-img-title{
        font-size: 1.4rem;
    }
    &__card-img-btn {
        font-size: 1rem;
    }
    &__card-info-btn {
        font-size: 2.4rem;
    }
    &__card-info-desc {
        font-size: 1.2rem;
    }
    &__card-info-list {
        font-size: 1.2rem;
    }
    &__card-info-title {
        font-size: 1.4rem;
    }
}

.contact {
    &__form-label {
        text-transform: uppercase;
    }
    &__form-input {
        font-size: 1.6rem;
    }
    &__form-textarea {
        font-size: 1.6rem;
    }
    &__form-btn {
        text-transform: uppercase;
        font-size: 1.6rem;
    }
    &__social-item {
        font-size: 1.6rem;
    }
}

// MEDIA

@media(min-width: 576px) {
    .nav {
        &__item{
            font-size: 2.8rem;
        }
    }
    .header {
        &__heading {
            font-size: 6.4rem;
        }
    
        &__text {
            font-size: 2.4rem;
        }
    }
    .models {
        &__card-img-title{
            font-size: 1.6rem;
        }
        &__card-img-btn {
            font-size: 1.2rem;
        }
        &__card-img-btn-hide {
            font-size: 1.2rem;
        }
        &__card-info-btn {
            font-size: 3.6rem;
        }
        &__card-info-desc {
            font-size: 1.4rem;
        }
        &__card-info-list {
            font-size: 1.4rem;
        }
        &__card-info-title {
            font-size: 1.6rem;
        }
    }
}

@media(min-width: 768px) {
    .header {
        &__heading {
            font-size: 7.2rem;
            letter-spacing: .02em;
        }
        &__text {
            font-size: 3.2rem;
        }
    }

    .models {
        &__card-img-title{
            font-size: 2rem;
        }
        &__card-img-btn {
            font-size: 1.4rem;
        }
        &__card-img-btn-hide {
            font-size: 1.4rem;
        }
        &__card-info-btn {
            font-size: 4.8rem;
        }
        &__card-info-desc {
            font-size: 1.6rem;
        }
        &__card-info-list {
            font-size: 1.6rem;
        }
        &__card-info-title {
            font-size: 2rem;
        }
    }
}
